$(".Privacy__main__top__star").html("#{escape_javascript(render partial: 'relationships/relationships', locals: { user: @user })}");
$(".Privacy__side__info__user__followers").html('フォロワー数: #{ @followers}');