.Home__global.img2
  .Home__global__section
    .Content
      .Videos
        %iframe#player{width: "400", height: "250", src: "https://www.youtube-nocookie.com/embed/Q_xUHTOstYs?loop=1&playlist=Q_xUHTOstYs", frameborder:"0", allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"}
        %iframe#player{width: "400", height: "250", src: "https://www.youtube-nocookie.com/embed/VjpXycg3Mjo?loop=1&playlist=VjpXycg3Mjo", frameborder:"0", allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"}
        %iframe#player{width: "400", height: "250", src: "https://www.youtube-nocookie.com/embed/YEvNSVr91_4?loop=1&playlist=YEvNSVr91_4", frameborder:"0", allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"}
        %iframe#player{width: "400", height: "250", src: "https://www.youtube-nocookie.com/embed/o2f8oyLvU7g?loop=1&playlist=o2f8oyLvU7g", frameborder:"0", allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"}
        %iframe#player{width: "400", height: "250", src: "https://www.youtube-nocookie.com/embed/98joaoS7-Vo?loop=1&playlist=98joaoS7-Vo", frameborder:"0", allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"}
        %iframe#player{width: "400", height: "250", src: "https://www.youtube-nocookie.com/embed/T20iFbWz1ko?loop=1&playlist=T20iFbWz1ko", frameborder:"0", allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"}