.Home
  .home
    %h1.home__logo runner space
    %p.home__copy 
      %br 走る事が大好きな人々が集まって 
      %br 走る事に対しての熱い思いや、情報、グッズを共有するサイトです
    .home__button
      .home__button__signup
        = link_to "会員登録", new_user_registration_path, class: "btn"
      .home__button__signin
        = link_to "ログイン", new_user_session_path, class: "btn"
