.Home {
  background-image: url(section1);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: scroll;

  .home {
    background-color: rgba(93, 153, 150, 0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: scroll;
    &__logo {
      font-size: 60px;
    }
    &__copy {
      font-size: 20px;
    }
    &__button {
      margin: 40px auto;

      &__signin {
        margin-top: 30px;
      }
      .btn {
        display: block;
        border: 1px solid white;
        border-radius: 4px;
        padding: 10px 50px;
        cursor: pointer;
        color: white;

      }
      
      
      
    }
      
    
  }
}