.Post__comment {
  width: 25%;
  height: 100%;
  &__list {
    height: 92%;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: scroll;
    background-color: white;
    border-radius: 4px;
    &__host {
      display: flex;
      margin-bottom: 20px;
      img {
        height: 55px;
        width: 55px;
        border-radius: 50%;
        border: 3px solid black;
      }
      &__text {
        margin-left: 10px;
        font-size: 11px;
        flex-direction: column;
        color: #5d627b;
        p {
          font-size: 15px;
          color: black;
        }
      }
    }
    &__post {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 20px;
      img {
        height: 55px;
        width: 55px;
        border-radius: 50%;
        border: 3px solid black;
      }
      &__text {
        margin-right: 10px;
        font-size: 11px;
        flex-direction: column;
        color: #5d627b;
        text-align: right;
        p {
          text-align: left;
          font-size: 15px;
          color: black;
        }
      }
    }
  }
  &__button {
    margin-top: 20px;
    text-align: center;
    border: none;
    .submit {
      margin-left: 20px;
      cursor: pointer;
      padding: 0 20px;
      background-color: cornflowerblue;
      border: none;
      color: white;
      border-radius: 4px;
    }
  }
}


