.Privacy {
  width: 100%;
  display: flex;
  &__main {
    width: 45%;
    &__image {
      width: 100%;
      img {
        border-radius: 4px;
        width: 100%;
        height: 430px;
      }
    }
    &__top {
      margin: 4px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__name {
        font-size: 36px;
        padding-left: 20px;
      }
      &__star {
        font-size: 20px;
        .star {
          color: rgb(240, 240, 3);
        }
      }
    }
    &__bottom {
      font-size: 16px;
    }
  }
  &__side {
    width: 25%;
    margin: 0 20px;
    &__main {
      padding: 20px 0;
      &__top {
        font-size: 36px;
      }
      &__bottom {
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        position: relative;
        margin-top: 20px;
        &:before {
          position: absolute;
          content: '';
          bottom: 5px;
          left: 15px;
          width: 0;
          height: 0;
          border: none;
          border-left: solid 20px transparent;
          border-bottom: solid 20px rgb(119, 195, 223);
        }
        &:after {
          position: absolute;
          content: '';
          bottom: 5px;
          right: 30px;
          width: 80%;
          border-bottom: solid 5px rgb(119, 195, 223);
        }
      }
    }
    &__rank {
      margin-top: 30px;
      &__top {
        font-size: 36px;
      }
      &__bottom {
        font-size: 50px;
        text-align: center;
        margin-top: 20px;
        font-weight: bold;
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 18px;
      margin-top: 130px;
      &__num {
        display: flex;
        text-align: center;
        &__likes {
          margin-left: 136px;
          .like {
            color: #e54747
          }
        }
      }
      &__user {
        display: flex;
        margin-top: 10px;
        &__followers {
          margin-left: 10px;
        }
      }
      &__button {
        margin-top: 30px;
        display: flex;
        a {
          font-size: 16px;
          display: block;
          padding: 0 20px;
          border-radius: 4px;
          background-color: white;
          color: black;
          cursor: pointer;
          transition: all 0.5s;
        }
        &__edit {
          a {
            &:hover {
              background-color: cornflowerblue;
              color: white;
            }
          }
        }
        &__delete {
          margin-left: 20px;
          a {
            &:hover {
              background-color: crimson;
              color: white;
            }
          }
        }
      }
    }
  }
  &__articles {
    width: 30%;
    border-radius: 4px;
    position: relative;
    &__name {
      text-align: center;
      font-size: 20px;
      
    }
    &__list {
      height: 95%;
      border-radius: 4px;
      padding-top: 40px;
      overflow: scroll;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      &__post {
        position: relative;
        box-shadow: 6px 6px 10px 0 rgba(0,0,0,0.8), 0 2px 3px 0 rgba(0,0,0,.22);
        transition: .3s;
        margin-bottom: 40px;
        &:hover {
          box-shadow: 0 15px 30px -5px rgba(0,0,0,.3), 0 0 5px rgba(0,0,0,.5);
          transform: translateY(-5px);
        }
        &__image {
          height: 250px;
          width: 300px;
          img {
            height: 100%;
            width: 100%;
            background-size: cover;
            border-radius: 4px 4px 0 0;
          }
        }
        &__tag {
          position: absolute;
          top: 5px;
          left: 5px;
          font-size: 12px;
          color: white;
          padding: 0.2em;
          display: inline-block;
          line-height: 1.3;
          vertical-align: middle;
          border-radius: 25px 0px 0px 25px;
          &.color1 {
            background-color: rgba(0, 26, 255, 0.4);
          }
          &.color2 {
            background-color: rgba(1, 128, 1, 0.4);
          }
          &.color3 {
            background-color: rgba(255, 0, 0, 0.4);
          }
          &.color4 {
            background-color: gray;
          }
          &::before {
            content: '●';
            color: white;
            margin-right: 8px;
          }
        }
        &__title {
          font-size: 22px;
          text-align: center;
          margin: 13px 0 10px;
        }
        &__time {
          text-align: right;
          font-size: 3px;
          color: #5d627b;
          margin: 10px;
        }
      }
    }
  }
}


.Contact {
  position: fixed;
  left: 36%;
  margin: 100px auto 0;
  display: flex;
  width: 400px;
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;
  z-index: 1;
  a {
    color: white;
    display: block;
    transition: all 0.5s;
    &:hover {
      color: black;
      background-color: white;
    }
  }
  &__user {
    flex: 1;
    a {
      border-radius: 4px 0 0 4px;
    }
  }
  &__follow {
    flex: 1;
    border-style: none solid none solid;
    border-width: 1px;
  }
  &__follower {
    flex: 1;
    a {
      border-radius: 0 4px 4px 0;
    }
  }
}
.Index {
  display: flex;
  justify-content: center;
  height: 97vh;
  flex-wrap: wrap;
  padding:  180px 100px 0;
  overflow: scroll;
  animation-name: fadeup;
  animation-duration: 1s;
  animation-iteration-count: 1;
  &__user {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    width: 500px;
    height: 150px;
    margin: 0 10px 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s;
    &:hover {
      transform: translateY(-5px);
    }
    &__info {
      display: flex;
      width: 250px;
      &__icon {
        margin-right: 20px;
      }
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 3px solid white;
      }
      &__group {
        padding-top: 12px;
        width: 12vw;
        &__top {
          display: flex;
        }
        &__name {
          font-size: 20px;
        }
      }
    }
    &__run {
      width: 500px;
      &__top {
        font-size: 20px;
        text-align: right;
        position: relative;
        right: 70px;
      }
      &__bottom {
        font-size: 42px;
        font-weight: bold;
        text-align: right;
        position: relative;
        &:before {
          position: absolute;
          content: '';
          bottom: 5px;
          left: -20px;
          width: 0;
          height: 0;
          border: none;
          border-left: solid 20px transparent;
          border-bottom: solid 20px rgb(119, 195, 223);
        }
        &:after {
          position: absolute;
          content: '';
          bottom: 5px;
          left: 0;
          width: 100%;
          border-bottom: solid 5px rgb(119, 195, 223);
        }
      }
    }
  }
}

.Rank__top {
  font-size: 30px;
  color: white;
  text-align: center;
  position: relative;
  top: 100px;
}
.Rank__content {
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-wrap: wrap;
  padding:  100px 100px 50px;
  overflow: scroll;
  &__user {
    display: flex;
    background-color: rgba(255, 255, 255, 0.753);
    padding-top: 20px;
    margin-top: 20px;
    border-radius: 4px;
    box-shadow: 6px 6px 10px rgba(0,0,0,1);
    animation-name: fadeup;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transition: .3s;
    box-shadow: 6px 6px 10px 0 rgba(0,0,0,0.8), 0 2px 3px 0 rgba(0,0,0,.22);
    &:hover {
      box-shadow: 0 15px 30px -5px rgba(0,0,0,.3), 0 0 5px rgba(0,0,0,.5);
      transform: translateY(-5px);
    }
    &__left {
      display: flex;
      flex-direction: column;
      &__top {
        font-size: 70px;
        text-align: center;
        position: relative;
        left: 6px;
        &.crown1 {
          color: gold;
        }
        &.crown2 {
          color: silver;
        }
        &.crown3 {
          color: #B87333;
        }
      }
      &__buttom {
        text-align: center;
        &.rank1 {
          font-size: 50px;
          padding: 0 10px 0 20px;
          position: relative;
          bottom: 16px;
          font-weight: bold;
        }
        &.rank2 {
          font-size: 40px;
          padding: 0 23px 0 33px;
          position: relative;
          bottom: 6px;
        }
        &.rank3 {
          font-size: 30px;
          padding: 0 35px 0 45px;
        }
        &.rank4 {
          font-size: 20px;
          padding: 0 47px 0 57px;
          position: relative;
          top: 60px;
        }
      }
    }
  }
}